:root {
  --primary-bg-color: #3b5998; /* Darker Facebook Blue */
  --secondary-bg-color: #ffffff; /*white*/
  --tertiary-bg-color: #f0f2f5; /* Light Grey */
  --form-bg-color: #ffffff; /* White */
  --border-color: #ccd0d5; /* Light Border Grey */
  --text-color: #1c1e21; /* Dark Text */
  --submit-bg-color: #42b72a; /* Green Button */
  --submit-bg-hover-color: #36a420; /* Darker Green Button */
  --submit-text-color: #ffffff; /* White */
  --text-secondary-color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

header {
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
}

header h1,
header h2 {
  margin: 10px;
  color: var(--text-color);
}

.brand {
  font-size: x-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

body {
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.style-container {
  display: flex;
  flex-direction: row;
  padding: 1px 2px;
  background-color: var(--secondary-bg-color);
  margin: 4px 20px;

  border-radius: 7px;
}

.style-container label,
.style-container input {
  display: block;
  margin: 2px;
  width: auto;
  color: var(--text-color);
  font-size: large;
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--tertiary-bg-color);
}

.form-container h3 {
  padding: 10px;
  display: block;
  color: var(--text-color);
  font-size: small;
  height: auto;
}

form {
  background-color: var(--form-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  width: 200px;
}

.submit {
  text-align: center;
  cursor: pointer;
  background-color: var(--submit-bg-color);
  border-radius: 5px;
  border: none;
  color: var(--submit-text-color);
  padding: 5px;
}

.submit:active {
  transform: translateY(1px);
}

.submit:hover {
  opacity: 0.8;
  background-color: var(--submit-bg-hover-color);
}

footer {
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: right;
  height: auto;
}

footer h2 {
  font-size: small;
  font-weight: 600;
  padding: 10px;
  color: var(--text-secondary-color);
}
